  <!-- Chat Modal Here -->
  <div class="chat-conversion-box" [ngClass]="{'modal-show': isHidden, 'shrink':isShrink}"   id="chat-box-modal" tabindex="-1" aria-labelledby="chat-modal-label"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="chat-modal-label">
            {{user.nombre}} <span class="online"></span>
          </h6>
          <div class="action-icon">
            <button class="chat-shrink" (click)="shrinkChat()"><i class="icofont-minus"></i></button>
            <button type="button" (click)="hideChat()" class="close chat-close chat-open" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
        <div class="modal-body">
          <ul class="chat-conversion">
            <li class="chat-others">
              <div class="author-img">
                <img [src]="user.avatar" class="user_chat" alt="Chat" />
              </div>
              <div class="author-text">
                <span>How are you Fahim vai ? Tommorow office will be your last day
                  of Bachelor life.</span>
              </div>
            </li>
            <li class="chat-you">
              <div class="author-img">
                <img src="media/figure/chat_11.jpg" alt="Chat" />
              </div>
              <div class="author-text">
                <span>hmm That's great</span>
              </div>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Write your text here....." />
              <div class="chat-plus-icon">
                <i class="icofont-plus-circle"></i>
              </div>
              <div class="file-attach-icon">
                <a href="#"><i class="icofont-slightly-smile"></i></a>
                <a href="#"><i class="icofont-camera"></i></a>
                <a href="#"><i class="icofont-image"></i></a>
                <a href="#"><i class="icofont-mic"></i></a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
