.user_profile {
  width: 40px !important;
  height: 40px !important;
  object-fit: cover;
}
.user_chat {
  width: 44px !important;
  height: 44px !important;
  object-fit: cover;

}
.btn-aceptar:hover{
  background-color: #28a745 !important;
}
.btn-rechazar:hover{
  background-color: #dc3545 !important ;

}
.content-media {

    overflow-y: auto;
    max-height: 300px;
}
