.user_profile {
  width: 40px !important;
  height: 40px !important;
}
.user_chat {
  width: 44px !important;
  height: 44px !important;
}
.btn-aceptar:hover{
  background-color: #28a745 !important;
}
.btn-rechazar:hover{
  background-color: #dc3545 !important ;

}
.content-media {

    overflow-y: auto;
    height: 300px;
}
