<div *ngIf="page === 'home'">
  <!-- Top Header -->
  <header class="fixed-header">
    <div class="header-menu">
      <div class="navbar">
        <div class="nav-item d-none d-sm-block">
          <div class="header-logo">
            <img src="media/logotipo.png" width="150px" alt="logo" />
          </div>
        </div>
        <div class="nav-item nav-top-menu">
          <nav id="dropdown" class="template-main-menu">
            <ul class="menu-content">
              <li class="header-nav-item">
                <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="menu-link active">Inicio</a>
              </li>
              <li class="header-nav-item">
                <a [routerLink]="['/match']" routerLinkActive="router-link-active" class="menu-link active">Mis
                  Contactos</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav-item header-control">
          <div class="inline-item d-flex align-items-center">
            <div class="dropdown dropdown-friend">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="icofont-users-alt-4"></i>
                <span *ngIf="(matchsRequest$ | async).length != 0" class="notify-count">{{ (matchsRequest$ |
                  async).length }}</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="item-heading">
                  <h6 class="heading-title">Solicitud de conexión</h6>
                  <div class="heading-btn">
                    <!-- <a href="#">Settings</a> -->
                    <!-- <a href="#">Eliminar todo</a> -->
                  </div>
                </div>
                <div class="item-body">
                  <div *ngIf="(matchsRequest$ | async).length == 0" class="text-center">
                    <p><small>No tienes solicitudes aun</small></p>
                  </div>

                  <div class="content-media">

                    <div *ngFor="let item of matchsRequest$ | async" class="media">
                      <div class="item-img">
                        <img [src]="item.avatar" class="user_profile" alt="Notify" />
                        <span class="chat-status offline"></span>
                      </div>
                      <div class="media-body">
                        <h6 class="item-title">
                          <a class="text-break" (click)="verPerfil(item)">{{ item.nombre }}</a>
                        </h6>
                        <!-- <p>4 in mutual friends</p> -->
                        <div class="btn-area">
                          <a (click)="aceptar(item)" role="button" title="Aceptar" class="item-btn btn-aceptar">
                            <i class="icofont-check"></i>
                          </a>
                          <a (click)="eliminarSolicitud(item)" role="button" title="Rechazar"
                            class="item-btn btn-rechazar">
                            <i class="icofont-close"></i>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="item-footer">
                  <!-- <a href="#" class="view-btn">Ver todas la solicitudes</a> -->
                </div>
              </div>
            </div>
            <div class="dropdown dropdown-message">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false"
                (click)="openSideBarChat()">
                <i class="icofont-speech-comments"></i>
                <span *ngIf="misMensajesNoVistos.length != 0" class="notify-count">{{ misMensajesNoVistos.length
                  }}</span>
              </button>
              <!-- <div class="dropdown-menu dropdown-menu-right">
                <div class="item-heading">
                  <h6 class="heading-title">Message</h6>
                  <div class="heading-btn">
                    <a href="#">Settings</a>
                    <a href="#">Mark all as Read</a>
                  </div>
                </div>
                <div class="item-body">
                  <a href="#" class="media">
                    <div class="item-img">
                      <img src="media/figure/notifiy_1.png" alt="Notify" />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Diana Jameson</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                  <a href="#" class="media">
                    <div class="item-img">
                      <img src="media/figure/notifiy_2.png" alt="Notify" />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Quirty</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                  <a href="#" class="media">
                    <div class="item-img">
                      <img src="media/figure/notifiy_3.png" alt="Notify" />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Zinia Jessy</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                </div>
                <div class="item-footer">
                  <a href="#" class="view-btn">View All Messages</a>
                </div>
              </div> -->
            </div>
            <div class="dropdown dropdown-notification">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <i class="icofont-notification"></i>
                <span *ngIf="(notification$ | async)!.length != 0" class="notify-count">{{ (notification$ |
                  async)!.length }}</span>
              </button>
              <div id="notificationHeader" class="dropdown-menu dropdown-menu-right">
                <div class="item-heading">
                  <h6 class="heading-title">Notificaciones</h6>
                  <div class="heading-btn">
                    <a (click)="eliminarNotificaciones()">Marcar todo como leído</a>
                  </div>
                </div>
                <div class="item-body">
                  <div *ngIf="(notification$ | async)!.length == 0" class="text-center">
                    <p><small>No tienes notificaciones</small></p>
                  </div>
                  <div class="content-media">
                    <div class="d-flex align-items-center pb-2" *ngFor="let item of notification$ | async; let i=index"
                      [id]="i" type="button" data-toggle="collapse" [attr.data-target]="'#child-'+i"
                      aria-expanded="false" (mouseenter)="showCollapse(i)" (mouseleave)="hideCollapse(i)"
                      [attr.aria-controls]="'child-'+i">
                      <div class="media" role="button" (click)="verPerfil(item.data)">
                        <div class="item-img">
                          <img [src]="item.data.avatar" class="user_profile" alt="Notify" />
                        </div>
                        <div class="media-body">
                          <h6 class="item-title">{{ item.title }}</h6>
                          <div class="item-time" [ngClass]="{'d-none': showChild[i], 'd-inline':!showChild[i]}">
                            {{ calcularTiempoTranscurrido(item.time) }}
                          </div>
                          <p>{{ item.message }}</p>
                        </div>
                      </div>
                      <div class="collapse" [id]="'child-'+i" [ngClass]="{'show': showChild[i]}">
                        <div role="button" (click)="eliminarNotificacion(item)" class="bg-danger text-light trash"><i
                            class="icofont-trash"></i></div>
                        <!-- <button class="btn btn-danger">Eliminar</button> -->
                      </div>
                    </div>

                  </div>
                </div>
                <div class="item-footer">
                  <!-- <a href="#" class="view-btn">Ver todas las notificaciones</a> -->
                </div>
              </div>
            </div>
          </div>
          <div class="inline-item">
            <div class="dropdown dropdown-admin">
              <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                <span class="media">
                  <span class="item-img">
                    <img [src]="(user$ | async)!.avatar" style="width: 44px; height: 44px; object-fit: cover"
                      alt="img-profile" />
                  </span>
                  <span class="media-body">
                    <span class="item-title">{{
                      (user$ | async)!.nombre | titlecase
                      }}</span>
                  </span>
                </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="admin-options">
                  <li>
                    <a routerLink="/profile-settings">Editar perfil</a>
                  </li>

                  <li>
                    <a class="text-danger" (click)="logOut()">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Sidebar Left -->
  <div class="fixed-sidebar">
    <div class="fixed-sidebar-left small-sidebar">
      <div class="sidebar-toggle">
        <button class="toggle-btn toggler-open">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="sidebar-menu-wrap">
        <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
          <ul class="side-menu">
            <li>
              <a routerLink="/home" class="menu-link" data-toggle="tooltip" data-placement="right" title="Inicio"><i
                  class="icofont-home"></i></a>
            </li>
            <li>
              <a routerLink="/match" class="menu-link" data-toggle="tooltip" data-placement="right"
                title="Mis Contactos"><i class="icofont-users-alt-2"></i></a>
            </li>
            <li>
              <a routerLink="/profile-settings" class="menu-link" data-toggle="tooltip" data-placement="right"
                title="Editar perfil"><i class="icofont-settings-alt"></i></a>
            </li>
            <li>
              <a (click)="logOut()" class="menu-link text-danger" data-toggle="tooltip" data-placement="right"
                title="Cerrar Sesión"><i class="icofont-logout"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="fixed-sidebar-left large-sidebar">
      <div class="sidebar-toggle">
        <div class="sidebar-logo">
          <img src="media/logotipo.png" width="150px" alt="Logo" />
        </div>
        <button class="toggle-btn toggler-close">
          <span></span>
          <span></span>
          <span></span>
        </button>
      </div>
      <div class="sidebar-menu-wrap">
        <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
          <ul class="side-menu">
            <li>
              <a routerLink="/home" class="menu-link"><i class="icofont-home"></i><span
                  class="menu-title">Inicio</span></a>
            </li>

            <li>
              <a routerLink="/match" class="menu-link"><i class="icofont-users-alt-2"></i><span class="menu-title">Mis
                  Contactos</span></a>
            </li>
            <li>
              <a routerLink="/profile-settings" class="menu-link"><i class="icofont-settings-alt"></i><span
                  class="menu-title">Editar Perfil</span></a>
            </li>
            <li>
              <a (click)="logOut()" class="menu-link text-danger"><i class="icofont-logout"></i><span
                  class="menu-title">Cerrar Sesión</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Sidebar Right -->
  <div class="fixed-sidebar right" [ngClass]="{ 'chat-head-hide': isOpenSideBarChat }">
    <div class="fixed-sidebar-right small-sidebar">
      <div class="sidebar-toggle" role="button" (click)="openSideBarChat()" id="chat-head-toggle">
        <button class="chat-icon">
          <i class="icofont-speech-comments"></i>
        </button>
      </div>
      <div class="sidebar-menu-wrap">
        <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
          <ul class="user-chat-list">
            <li *ngFor="let item of misMatches$ | async" role="button" (click)="setUserChat(item)"
              class="chat-item chat-open">
              <div class="author-img">
                <img [src]="item.avatar" class="user_chat" alt="chat" />
                <span class="chat-status online"></span>
                <span *ngIf="getMessagesNoLeidos(item.id) != 0" class="notify-count">{{ getMessagesNoLeidos(item.id)
                  }}</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <app-chat-modal *ngIf="userChat && isCloseChat" [user]="userChat" [(valor)]="isCloseChat"
    (valorChange)="quitUserChat()"></app-chat-modal>
</div>
<div *ngIf="page === 'landing'">
  <header class="header">
    <div id="rt-sticky-placeholder"></div>
    <div id="header-menu" class="header-menu menu-layout1">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-2">
            <div class="temp-logo">
              <a><img src="media/logotipo.png" style="width: 40vw !important; margin: 10px" alt="Logo" /></a>
            </div>
          </div>
          <div class="col-xl-6 col-lg-7 col-sm-7 col-8 d-flex justify-content-xl-start justify-content-center">
            <div class="mobile-nav-item hide-on-desktop-menu">
              <div class="mobile-toggler">
                <button type="button" class="mobile-menu-toggle">
                  <i class="icofont-navigation-menu"></i>
                </button>
              </div>
              <div class="mobile-logo">
                <a>
                  <img src="media/logotipo.png" style="width: 40vw !important; margin: 0 10px" alt="Logo" />
                </a>
              </div>
            </div>
            <nav id="dropdown" class="template-main-menu">
              <button type="button" class="mobile-menu-toggle mobile-toggle-close">
                <i class="icofont-close"></i>
              </button>
              <ul class="menu-content">
                <li class="header-nav-item">
                  <!-- <a href="#how-works" class="menu-link active">¿Networking Miami?</a> -->
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-xl-4 col-lg-3 col-sm-5 col-4 d-flex justify-content-end">
            <div class="header-action">
              <ul>
                <li class="header-social">
                  <a class="mr-3" href="https://www.facebook.com/profile.php?id=100091834044138"><i
                      class="icofont-facebook"></i></a>
                  <a class="mr-2" href="https://www.instagram.com/networking.miami_/"><i
                      class="icofont-instagram"></i></a>
                </li>

                <li class="login-btn">
                  <!-- <app-auth0></app-auth0> -->
                  <a [routerLink]="['/login']" routerLinkActive="router-link-active" class="item-btn"
                    style="margin: 0"><i class="fas fa-user mr-2"></i>Ingresa</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>