<div *ngIf="page === 'home'">
  <!-- Top Header -->
  <header class="fixed-header">
    <div class="header-menu">
      <div class="navbar">
        <div class="nav-item d-none d-sm-block">
          <div class="header-logo">
            <img src="media/logotipo.png" width="100" alt="logo" />
          </div>
        </div>
        <div class="nav-item nav-top-menu">
          <nav id="dropdown" class="template-main-menu">
            <ul class="menu-content">
              <li class="header-nav-item">
                <a
                  [routerLink]="['/home']"
                  routerLinkActive="router-link-active"
                  class="menu-link active"
                  >Inicio</a
                >
              </li>
              <li class="header-nav-item">
                <a
                  [routerLink]="['/match']"
                  routerLinkActive="router-link-active"
                  class="menu-link active"
                  >Mis Contactos</a
                >
              </li>
            </ul>
          </nav>
        </div>
        <div class="nav-item header-control">
          <div class="inline-item d-flex align-items-center">
            <div class="dropdown dropdown-friend">
              <button
                class="dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="icofont-users-alt-4"></i>
                <span
                  *ngIf="(matchsRequest$ | async).length != 0"
                  class="notify-count"
                  >{{ (matchsRequest$ | async).length }}</span
                >
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="item-heading">
                  <h6 class="heading-title">Solicitud de conexión</h6>
                  <div class="heading-btn">
                    <!-- <a href="#">Settings</a> -->
                    <a href="#">Eliminar todo</a>
                  </div>
                </div>
                <div class="item-body">
                  <div
                    *ngIf="(matchsRequest$ | async).length == 0"
                    class="text-center"
                  >
                    <p><small>No tienes solicitudes aun</small></p>
                  </div>

                  <div
                    *ngFor="let item of matchsRequest$ | async"
                    class="media"
                  >
                    <div class="item-img">
                      <img
                        [src]="item.avatar"
                        class="user_profile"
                        alt="Notify"
                      />
                      <span class="chat-status offline"></span>
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">
                        <a (click)="verPerfil(item)">{{ item.nombre }}</a>
                      </h6>
                      <!-- <p>4 in mutual friends</p> -->
                      <div class="btn-area">
                        <a (click)="aceptar(item)" class="item-btn">
                          <i class="icofont-plus"></i>
                        </a>
                        <a (click)="eliminarSolictud(item)" class="item-btn">
                          <i class="icofont-minus"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item-footer">
                  <a href="#" class="view-btn">Ver todas la solicitudes</a>
                </div>
              </div>
            </div>
            <div class="dropdown dropdown-message">
              <button
                class="dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false"
                (click)="openSideBarChat()"
              >
                <i class="icofont-speech-comments"></i>
              </button>
              <!-- <div class="dropdown-menu dropdown-menu-right">
                <div class="item-heading">
                  <h6 class="heading-title">Message</h6>
                  <div class="heading-btn">
                    <a href="#">Settings</a>
                    <a href="#">Mark all as Read</a>
                  </div>
                </div>
                <div class="item-body">
                  <a href="#" class="media">
                    <div class="item-img">
                      <img src="media/figure/notifiy_1.png" alt="Notify" />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Diana Jameson</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                  <a href="#" class="media">
                    <div class="item-img">
                      <img src="media/figure/notifiy_2.png" alt="Notify" />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Quirty</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                  <a href="#" class="media">
                    <div class="item-img">
                      <img src="media/figure/notifiy_3.png" alt="Notify" />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">Zinia Jessy</h6>
                      <div class="item-time">15 mins ago</div>
                      <p>when are nknowen printer took galley of types ...</p>
                    </div>
                  </a>
                </div>
                <div class="item-footer">
                  <a href="#" class="view-btn">View All Messages</a>
                </div>
              </div> -->
            </div>
            <div class="dropdown dropdown-notification">
              <button
                class="dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <i class="icofont-notification"></i>
                <span
                  *ngIf="(notification$ | async)!.length != 0"
                  class="notify-count"
                  >{{ (notification$ | async)!.length }}</span
                >
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="item-heading">
                  <h6 class="heading-title">Notificaciones</h6>
                  <div class="heading-btn">
                    <a href="#">Marcar todo como leído</a>
                  </div>
                </div>
                <div class="item-body">
                  <div
                    *ngIf="(notification$ | async)!.length == 0"
                    class="text-center"
                  >
                    <p><small>No tienes notificaciones</small></p>
                  </div>

                  <a
                    href="#"
                    class="media"
                    *ngFor="let item of notification$ | async"
                  >
                    <div class="item-img">
                      <img
                        [src]="item.data.avatar"
                        class="user_profile"
                        alt="Notify"
                      />
                    </div>
                    <div class="media-body">
                      <h6 class="item-title">{{ item.title }}</h6>
                      <div class="item-time">
                        {{ calcularTiempoTranscurrido(item.time) }}
                      </div>
                      <p>{{ item.message }}</p>
                    </div>
                  </a>
                </div>
                <div class="item-footer">
                  <a href="#" class="view-btn">View All Notification</a>
                </div>
              </div>
            </div>
          </div>
          <div class="inline-item">
            <div class="dropdown dropdown-admin">
              <button
                class="dropdown-toggle"
                type="button"
                data-toggle="dropdown"
                aria-expanded="false"
              >
                <span class="media">
                  <span class="item-img">
                    <img
                      [src]="(user$ | async)!.avatar"
                      style="width: 44px; height: 44px"
                      alt="img-profile"
                    />
                  </span>
                  <span class="media-body">
                    <span class="item-title">{{
                      (user$ | async)!.nombre | titlecase
                    }}</span>
                  </span>
                </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <ul class="admin-options">
                  <li>
                    <a routerLink="/profile-settings"
                      >Editar perfil</a
                    >
                  </li>

                  <li>
                    <a class="text-danger" (click)="logOut()">Cerrar sesión</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Sidebar Right -->
  <div
    class="fixed-sidebar right"
    [ngClass]="{ 'chat-head-hide': isOpenSideBarChat }"
  >
    <div class="fixed-sidebar-right small-sidebar">
      <div
        class="sidebar-toggle"
        role="button"
        (click)="openSideBarChat()"
        id="chat-head-toggle"
      >
        <button class="chat-icon">
          <i class="icofont-speech-comments"></i>
        </button>
      </div>
      <div class="sidebar-menu-wrap">
        <div class="mCustomScrollbar" data-mcs-theme="dark" data-mcs-axis="y">
          <ul class="user-chat-list">
            <li
              *ngFor="let item of misMatches$ | async"
              role="button"
              (click)="setUserChat(item)"
              class="chat-item chat-open"
            >
              <div class="author-img">
                <img [src]="item.avatar" class="user_chat" alt="chat" />
                <span class="chat-status online"></span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="userChat">
    <app-chat-modal [user]="userChat" [(valor)]="isCloseChat"></app-chat-modal>
  </div>
</div>
<div *ngIf="page === 'landing'">
  <header class="header">
    <div id="rt-sticky-placeholder"></div>
    <div id="header-menu" class="header-menu menu-layout1">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-2">
            <div class="temp-logo">
              <a
                ><img
                  src="media/logotipo.png"
                  style="width: 40vw !important; margin: 10px"
                  alt="Logo"
              /></a>
            </div>
          </div>
          <div
            class="col-xl-6 col-lg-7 col-sm-7 col-8 d-flex justify-content-xl-start justify-content-center"
          >
            <div class="mobile-nav-item hide-on-desktop-menu">
              <div class="mobile-toggler">
                <button type="button" class="mobile-menu-toggle">
                  <i class="icofont-navigation-menu"></i>
                </button>
              </div>
              <div class="mobile-logo">
                <a>
                  <img
                    src="media/logotipo.png"
                    style="width: 40vw !important; margin: 0 10px"
                    alt="Logo"
                  />
                </a>
              </div>
            </div>
            <nav id="dropdown" class="template-main-menu">
              <button
                type="button"
                class="mobile-menu-toggle mobile-toggle-close"
              >
                <i class="icofont-close"></i>
              </button>
              <ul class="menu-content">
                <li class="header-nav-item">
                  <!-- <a href="#how-works" class="menu-link active">¿Networking Miami?</a> -->
                </li>
              </ul>
            </nav>
          </div>
          <div
            class="col-xl-4 col-lg-3 col-sm-5 col-4 d-flex justify-content-end"
          >
            <div class="header-action">
              <ul>
                <li class="header-social">
                  <a
                    class="mr-3"
                    href="https://www.facebook.com/profile.php?id=100091834044138"
                    ><i class="icofont-facebook"></i
                  ></a>
                  <a
                    class="mr-2"
                    href="https://www.instagram.com/networking.miami_/"
                    ><i class="icofont-instagram"></i
                  ></a>
                </li>

                <li class="login-btn">
                  <!-- <app-auth0></app-auth0> -->
                  <a
                    [routerLink]="['/login']"
                    routerLinkActive="router-link-active"
                    class="item-btn"
                    style="margin: 0"
                    ><i class="fas fa-user mr-2"></i>Ingresa</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
