<div id="preloader"></div>
<div class="container">
  <!-- Banner Area Start -->
  <app-banner [user]="currentUser" [canEdit]="true"></app-banner>

  <div class="row">
    <div class="col-lg-12">
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Información básica</h3>
          <div class="dropdown">
            <button
              class="btn"
              type="button"
              (click)="onEditSection('informacionBasica')"
            >
              <i class="fas fa-pen"></i>
            </button>
          </div>
        </div>
        <form [formGroup]="infoBasicaForm">
          <ul class="user-info">
            <li>
              <label>Nombre:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.nombre | titlecase }}
              </p>
              <input
                *ngIf="!onInformacionBasicaEdit"
                maxlength="40"
                maxlength="40"
                type="text"
                [value]="(user$ | async)!.nombre"
                class="form-control"
                placeholder="Nombre y apellidos"
                formControlName="nombre"
                (keyup)="
                  infoBasicaForm.controls.nombre.setValue(
                    capitalize(infoBasicaForm.controls.nombre.value)
                  )
                "
              />
            </li>
            <li>
              <label>Teléfono:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.telefono }}
              </p>
              <div class="form-group" [hidden]="onInformacionBasicaEdit">
                <input
                  id="phone"
                  type="tel"
                  class="form-control"
                  placeholder="Numero telefónico"
                  formControlName="telefono"
                />
              </div>
            </li>
            <li>
              <label>Ubicación:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.ciudad }}, {{ (user$ | async)!.condado }}
              </p>
              <div class="form-group" *ngIf="!onInformacionBasicaEdit">
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label"
                    >Condado:</label
                  >
                  <div class="col-sm-10">
                    <select
                      title="Condado"
                      class="select2 mb-3"
                      id="condado"
                      name="Condado"
                      data-placeholder="Condado"
                      formControlName="condado"
                    >
                      <option
                        *ngFor="let item of condados"
                        [value]="item.nombre"
                      >
                        {{ item.nombre }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <label for="inputEmail3" class="col-sm-2 col-form-label"
                    >Ciudad:</label
                  >
                  <div class="col-sm-10">
                    <select
                      title="Ciudad"
                      class="select2"
                      id="ciudad"
                      name="Ciudad"
                      data-placeholder="Ciudad"
                      formControlName="ciudad"
                    >
                      <option *ngFor="let item of ciudades" [value]="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
                <button id="boton" hidden (click)="onCondadoChange()"></button>
              </div>
            </li>
            <li>
              <label>Lenguajes:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.lenguajes | pipeArray }}
              </p>
              <div class="form-group" *ngIf="!onInformacionBasicaEdit">
                <select
                  title="Idioma"
                  class="select2"
                  multiple="multiple"
                  id="idioma"
                  name="Idioma"
                  data-placeholder="Idioma"
                  formControlName="lenguajes"
                >
                  <option *ngFor="let idioma of idiomas" [value]="idioma">
                    {{ idioma }}
                  </option>
                </select>
              </div>
            </li>
            <li>
              <label>Fecha de nacimiento:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.fechaNacimiento | date }}
              </p>
              <input
                [hidden]="onInformacionBasicaEdit"
                maxlength="15"
                type="text"
                data-toggle="datepicker"
                class="form-control"
                placeholder="Año de nacimiento"
              />
              <input hidden type="text" formControlName="fechaNacimiento" />
            </li>
            <li>
              <label>Genero:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.genero }}
              </p>
              <div class="form-group" *ngIf="!onInformacionBasicaEdit">
                <select
                  title="Genero"
                  class="select2"
                  id="gender"
                  name="Genero"
                  data-placeholder="Genero"
                  formControlName="genero"
                >
                  <option value="" selected></option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                  <option value="Otro">Otro</option>
                </select>
              </div>
            </li>
            <li>
              <label>Biografía:</label>
              <p *ngIf="onInformacionBasicaEdit" class="text-break">
                {{ (user$ | async)!.biografia }}
              </p>
              <div id="contenedorTextarea" *ngIf="!onInformacionBasicaEdit">
                <textarea
                  [value]="(user$ | async)!.biografia"
                  class="form-control textarea"
                  maxlength="68"
                  placeholder="Nota biográfica"
                  formControlName="biografia"
                  cols="10"
                  rows="1"
                ></textarea>
                <div class="contador">
                  <span id="caracteresIngresados">{{
                    infoBasicaForm.controls.biografia.value.length
                  }}</span>
                  / 68
                </div>
              </div>
            </li>
          </ul>
        </form>
        <div
          *ngIf="!onInformacionBasicaEdit"
          class="d-flex justify-content-between mt-2"
        >
          <button
            class="btn btn-danger"
            (click)="onInformacionBasicaEdit = true"
          >
            Cancelar
          </button>

          <button
            (click)="cambioInformacionBasica()"
            [disabled]="infoBasicaForm.invalid"
            class="btn btn-primary"
          >
            <span
              *ngIf="isOnInformacionBasicaLoading"
              class="spinner-border spinner-border-sm me-3"
              role="status"
              aria-hidden="true"
            ></span>
            <span *ngIf="isOnInformacionBasicaLoading" class="visually-hidden"
              >Guardando datos...</span
            >
            <span *ngIf="!isOnInformacionBasicaLoading" class="visually-hidden"
              >Guardar</span
            >
          </button>
        </div>
      </div>
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Intereses y tipo de conexión</h3>
          <div class="dropdown">
            <button
              title="Intereses y tipo de conexión"
              (click)="onEditSection('intereses')"
              class="btn"
              type="button"
            >
              <i class="fas fa-pen"></i>
            </button>
          </div>
        </div>
        <form [formGroup]="interesesFormGroup">
          <ul class="user-info">
            <li>
              <label>Intereses:</label>
              <p *ngIf="onInteresesEdit">
                {{ (user$ | async)!.temasInteres | pipeArray }}
              </p>
              <div class="form-group" *ngIf="!onInteresesEdit">
                <select
                  title="Intereses"
                  class="select2"
                  multiple="multiple"
                  id="interes"
                  data-placeholder="Interés"
                  formControlName="temasInteres"
                >
                  <option *ngFor="let item of intereses" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
            </li>
            <li>
              <label>Area de experiencia:</label>
              <p *ngIf="onInteresesEdit">
                {{ (user$ | async)!.areaExperiencia | pipeArray }}
              </p>
              <div class="form-group" *ngIf="!onInteresesEdit">
                <select
                  class="select2"
                  multiple="multiple"
                  formControlName="areaExperiencia"
                  style="width: 100%"
                  id="experiencia"
                  data-placeholder="Experiencia"
                >
                  <option *ngFor="let item of experiencia" [value]="item">
                    {{ item }}
                  </option>
                </select>
              </div>
            </li>
            <li>
              <label>Tipo de conexión:</label>
              <ul *ngIf="onInteresesEdit" style="list-style: circle">
                <li
                  *ngFor="let item of (user$ | async)!.tipoConexion"
                  class="text-break"
                >
                  {{ item }}
                </li>
              </ul>

              <div class="form-group" *ngIf="!onInteresesEdit">
                <div
                  class="form-check"
                  *ngFor="let item of conexiones; let i = index"
                >
                  <input
                    type="checkbox"
                    (change)="onChangeConexiones($event)"
                    class="form-check-input"
                    [id]="i"
                    [value]="item"
                    [checked]="(user$ | async)!.tipoConexion.includes(item)"
                  />
                  <label class="form-check-label" [for]="i">{{ item }}</label>
                </div>
              </div>
            </li>
          </ul>
        </form>
        <div
          *ngIf="!onInteresesEdit"
          class="d-flex justify-content-between mt-2"
        >
          <button class="btn btn-danger" (click)="onInteresesEdit = true">
            Cancelar
          </button>
          <button (click)="cambioIntereses()" class="btn btn-primary">
            <span
              *ngIf="isOnInteresesLoading"
              class="spinner-border spinner-border-sm me-3"
              role="status"
              aria-hidden="true"
            ></span>
            <span *ngIf="isOnInteresesLoading" class="visually-hidden"
              >Guardando datos...</span
            >
            <span *ngIf="!isOnInteresesLoading" class="visually-hidden"
              >Guardar</span
            >
          </button>
        </div>
      </div>

      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title text-danger">Credenciales de acceso</h3>
        </div>
        <ul class="user-info">
          <li *ngIf="onCambioPasswordEdit">
            <label class="text-danger">Contraseña:</label>

            <button
              class="btn btn-danger"
              (click)="onCambioPasswordEdit = false"
            >
              Cambiar contraseña
            </button>
          </li>
          <li *ngIf="!onCambioPasswordEdit" class="mb-3">
            <label class="text-danger">Contraseña:</label>
            <form [formGroup]="passwordsFormGroup">
              <div class="form-group">
                <label for="passwordActual">Contraseña actual</label>
                <input
                  type="password"
                  id="passwordActual"
                  formControlName="passwordActual"
                  maxlength="40"
                  class="form-control"
                  autocomplete="password"
                  [ngClass]="{
                    'is-invalid':
                      (passwordsFormGroup.controls.passwordActual.dirty &&
                        passwordsFormGroup.controls.passwordActual.invalid) ||
                      (passwordsFormGroup.controls.passwordNueva.dirty &&
                        passwordsFormGroup.controls.passwordActual.value ==
                          passwordsFormGroup.controls.passwordNueva.value)
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordActual.dirty &&
                    passwordsFormGroup.controls.passwordActual.hasError(
                      'required'
                    )
                  "
                >
                  {{ hintRequired }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordActual.dirty &&
                    passwordsFormGroup.controls.passwordActual.hasError(
                      'minlength'
                    )
                  "
                >
                  {{ hintMinLength }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordActual.value ==
                    passwordsFormGroup.controls.passwordNueva.value
                  "
                >
                  {{ hintPasswordIsSame }}
                </div>
              </div>
              <div class="form-group">
                <label for="passwordNueva">Contraseña nueva</label>
                <input
                  type="password"
                  id="passwordNueva"
                  formControlName="passwordNueva"
                  maxlength="40"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      (passwordsFormGroup.controls.passwordNueva.dirty &&
                        passwordsFormGroup.controls.passwordNueva.invalid) ||
                      (passwordsFormGroup.controls.passwordRepetida.dirty &&
                        passwordsFormGroup.controls.passwordNueva.value !==
                          passwordsFormGroup.controls.passwordRepetida.value)
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordNueva.dirty &&
                    passwordsFormGroup.controls.passwordNueva.hasError(
                      'required'
                    )
                  "
                >
                  {{ hintRequired }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordNueva.dirty &&
                    passwordsFormGroup.controls.passwordNueva.hasError(
                      'minlength'
                    )
                  "
                >
                  {{ hintMinLength }}
                </div>

                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordRepetida.dirty &&
                    passwordsFormGroup.controls.passwordNueva.value !==
                      passwordsFormGroup.controls.passwordRepetida.value
                  "
                >
                  {{ hintPasswordNotMatch }}
                </div>
              </div>
              <div class="form-group">
                <label for="passwordRepetida">Repite contraseña nueva</label>
                <input
                  type="password"
                  id="passwordRepetida"
                  formControlName="passwordRepetida"
                  maxlength="40"
                  class="form-control"
                  [ngClass]="{
                    'is-invalid':
                      passwordsFormGroup.controls.passwordRepetida.dirty &&
                      passwordsFormGroup.controls.passwordRepetida.invalid &&
                      passwordsFormGroup.controls.passwordNueva.value !==
                        passwordsFormGroup.controls.passwordRepetida.value
                  }"
                />
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordRepetida.dirty &&
                    passwordsFormGroup.controls.passwordRepetida.hasError(
                      'required'
                    )
                  "
                >
                  {{ hintRequired }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordRepetida.dirty &&
                    passwordsFormGroup.controls.passwordRepetida.hasError(
                      'minlength'
                    )
                  "
                >
                  {{ hintMinLength }}
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    passwordsFormGroup.controls.passwordRepetida.dirty &&
                    passwordsFormGroup.controls.passwordNueva.value !==
                      passwordsFormGroup.controls.passwordRepetida.value
                  "
                >
                  {{ hintPasswordNotMatch }}
                </div>
              </div>
              <div class="form-group">
                <div class="form-check mb-3">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="showPasswordRegisterFn"
                    (change)="showPasswordsFn()"
                  />
                  <label class="form-check-label" for="showPasswordRegisterFn"
                    >Ver contraseñas</label
                  >
                </div>
              </div>
              <div class="d-flex justify-content-between mt-2">
                <button
                  class="btn btn-secondary"
                  (click)="
                    onCambioPasswordEdit = true; passwordsFormGroup.reset()
                  "
                >
                  Cancelar
                </button>
                <button
                  class="btn btn-primary"
                  [disabled]="
                    passwordsFormGroup.invalid ||
                    passwordsFormGroup.controls.passwordNueva.value !==
                      passwordsFormGroup.controls.passwordRepetida.value ||
                    (passwordsFormGroup.controls.passwordNueva.dirty &&
                      passwordsFormGroup.controls.passwordActual.value ==
                        passwordsFormGroup.controls.passwordNueva.value)
                  "
                  (click)="cambioPassword()"
                >
                  <span *ngIf="isOnResetPassword" class="visually-hidden"
                    >Cambiando contraseña...</span
                  >
                  <span *ngIf="!isOnResetPassword" class="visually-hidden"
                    >Cambiar</span
                  >
                </button>
              </div>
            </form>
          </li>

          <li>
            <label class="text-danger">Borrar cuenta:</label>

            <button class="btn btn-danger" (click)="deleteAccount()">
              Borra mi cuenta
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
