.author-heading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 330px;
}

.btn-primary {
    color: #fff;
    background-color: #615dfa;
    border-color: #615dfa;
}
