<div class="widget-author" *ngIf="typeProfile == 'desconocido'">
  <div class="author-heading">
    <div class="cover-img">
      <img [src]="user.fotoPortada" alt="fotoPortada" />
    </div>
    <div class="profile-img" [ngClass]="{ check: user.verificado === 1 }">
      <a href="#" class="">
        <img
          [src]="user.avatar"
          style="width: 100px !important; height: 100px !important"
          alt="author"
        />
      </a>
    </div>
    <div class="profile-name">
      <h4 class="author-name">
        <a href="#">{{ user.nombre }}</a>
      </h4>
      <div class="author-location">
        <p
          *ngFor="let item of user.areaExperiencia"
          class="badge text-wrap"
          style="margin: 0 0 10px 0 !important"
        >
          {{ item }}
        </p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <button (click)="solicitar()" class="btn btn-primary">conectar</button>
    <button class="btn btn-warning" (click)="verPerfil()" >Ver perfil</button>
  </div>
</div>
<div class="widget-author" *ngIf="typeProfile == 'contacto'">
  <div class="author-heading">
    <div class="cover-img">
      <img [src]="user.fotoPortada" alt="fotoPortada" />
    </div>
    <div class="profile-img" [ngClass]="{ check: user.verificado === 1 }">
      <a href="#" class="">
        <img
          [src]="user.avatar"
          style="width: 100px !important; height: 100px !important"
          alt="author"
        />
      </a>
    </div>
    <div class="profile-name">
      <h4 class="author-name">
        <a href="#">{{ user.nombre }}</a>
      </h4>
      <!-- <div class="author-location">{{ user.email }}</div> -->
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <button (click)="eliminarMatch()" class="btn btn-danger">eliminar</button>
    <button class="btn btn-warning" (click)="verPerfil()" >Ver perfil</button>
  </div>
</div>
<div class="widget-author" *ngIf="typeProfile == 'solicitud'">
  <div class="author-heading">
    <div class="cover-img">
      <img [src]="user.fotoPortada" alt="fotoPortada" />
    </div>
    <div class="profile-img" [ngClass]="{ check: user.verificado === 1 }">
      <a href="#" class="">
        <img
          [src]="user.avatar"
          style="width: 100px !important; height: 100px !important"
          alt="author"
        />
      </a>
    </div>
    <div class="profile-name">
      <h4 class="author-name">
        <a href="#">{{ user.nombre }}</a>
      </h4>
      <!-- <div class="author-location">{{ user.email }}</div> -->
    </div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-between mt-3">
    <button (click)="aceptar()" class="btn btn-success mb-3">Aceptar solicitud</button>
    <button (click)="eliminarSolictud(true)" class="btn btn-danger mb-3">Rechazar solicitud</button>
    <button class="btn btn-warning mb-3" (click)="verPerfil()" >Ver perfil</button>
  </div>
</div>
<div class="widget-author" *ngIf="typeProfile == 'solicitante'">
  <div class="author-heading">
    <div class="cover-img">
      <img [src]="user.fotoPortada" alt="fotoPortada" />
    </div>
    <div class="profile-img" [ngClass]="{ check: user.verificado === 1 }">
      <a href="#" class="">
        <img
          [src]="user.avatar"
          style="width: 100px !important; height: 100px !important"
          alt="author"
        />
      </a>
    </div>
    <div class="profile-name">
      <h4 class="author-name">
        <a href="#">{{ user.nombre }}</a>
      </h4>
      <!-- <div class="author-location">{{ user.email }}</div> -->
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <button (click)="eliminarSolictud(false)" class="btn btn-secondary">Cancelar solicitud</button>
    <button class="btn btn-warning" (click)="verPerfil()" >Ver perfil</button>
  </div>
</div>
