<div class="container">
  <app-banner [user]="user" [canEdit]="false"></app-banner>
  <div class="row">
    <div class="col-lg-8">
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Información básica</h3>

        </div>
          <ul class="user-info">
            <li>
              <label>Nombre:</label>
              <p>
                {{ user.nombre | titlecase }}
              </p>
            </li>
            <!-- <li>
              <label>Teléfono:</label>
              <p >
                {{ user.telefono }}
              </p>
            </li> -->
            <li>
              <label>Ubicación:</label>
              <p >
                {{ user.ciudad }}, {{ user.condado }}
              </p>

            </li>
            <li>
              <label>Lenguajes:</label>
              <p>
                {{ user.lenguajes | pipearray }}
              </p>

            </li>
            <li>
              <label>Fecha de nacimiento:</label>
              <p >
                {{ user.fechaNacimiento | date }}
              </p>

            </li>
            <li>
              <label>Genero:</label>
              <p >
                {{ user.genero }}
              </p>

            </li>
            <li>
              <label>Biografía:</label>
              <p >
                {{ user.biografia }}
              </p>

            </li>
          </ul>

      </div>
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Intereses y tipo de conexión</h3>

        </div>
          <ul class="user-info">
            <li>
              <label>Intereses:</label>
              <p >
                {{ user.temasInteres | pipearray }}
              </p>

            </li>
            <li>
              <label>Area de experiencia:</label>
              <p >
                {{ user.areaExperiencia | pipearray }}
              </p>

            </li>
            <li>
              <label>Tipo de conexión:</label>
              <p >
                <span
                  *ngFor="let item of user.tipoConexion"
                  class="badge mr-2"
                  >{{ item }}</span
                >
              </p>

            </li>
          </ul>
      </div>

    </div>
    <div class="col-lg-4 widget-block widget-user-about widget-break-lg">
      <div class="widget widget-user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Sobre Mí</h3>
          <div class="dropdown">
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Editar</a>
            </div>
          </div>
        </div>
        <div class="user-info">
          <p>{{ user.biografia }}</p>
          <ul class="info-list">
            <li>
              <span>Se unió:</span>{{ user.fechaIngreso | date }}
            </li>
            <li>
              <span>Ubicación:</span>{{ user.ciudad }},
              {{ user.condado }}
            </li>
            <!-- <li><span>Teléfono:</span>{{ user.telefono }}</li> -->

          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
