<div class="container">
  <app-banner [user]="user" [canEdit]="false"></app-banner>
  <div class="row">
    <div class="col-lg-8">
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Información básica</h3>

        </div>
          <ul class="user-info">
            <li>
              <label>Nombre:</label>
              <p>
                {{ user.nombre | titlecase }}
              </p>
            </li>
            <li>
              <label>Teléfono:</label>
              <p >
                {{ user.telefono }}
              </p>
            </li>
            <li>
              <label>Ubicación:</label>
              <p >
                {{ user.ciudad }}, {{ user.condado }}
              </p>

            </li>
            <li>
              <label>Lenguajes:</label>
              <p>
                {{ user.lenguajes | pipearray }}
              </p>

            </li>
            <li>
              <label>Fecha de nacimiento:</label>
              <p >
                {{ user.fechaNacimiento | date }}
              </p>

            </li>
            <li>
              <label>Genero:</label>
              <p >
                {{ user.genero }}
              </p>

            </li>
            <li>
              <label>Biografía:</label>
              <p >
                {{ user.biografia }}
              </p>

            </li>
          </ul>

      </div>
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Intereses y tipo de conexión</h3>

        </div>
          <ul class="user-info">
            <li>
              <label>Intereses:</label>
              <p >
                {{ user.temasInteres | pipearray }}
              </p>

            </li>
            <li>
              <label>Area de experiencia:</label>
              <p >
                {{ user.areaExperiencia | pipearray }}
              </p>

            </li>
            <li>
              <label>Tipo de conexión:</label>
              <p >
                <span
                  *ngFor="let item of user.tipoConexion"
                  class="badge mr-2"
                  >{{ item }}</span
                >
              </p>

            </li>
          </ul>
      </div>

    </div>
    <div class="col-lg-4 widget-block widget-user-about widget-break-lg">
      <div class="widget widget-user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Sobre Mi</h3>
          <div class="dropdown">
            <!-- <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              ...
            </button> -->
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Editar</a>
            </div>
          </div>
        </div>
        <div class="user-info">
          <p>{{ user.biografia }}</p>
          <ul class="info-list">
            <li>
              <span>Se unió:</span>{{ user.fechaIngreso | date }}
            </li>
            <li><span>E-mail:</span>{{ user.email }}</li>
            <li>
              <span>Ubicación:</span>{{ user.ciudad }},
              {{ user.condado }}
            </li>
            <li><span>Teléfono:</span>{{ user.telefono }}</li>
            <!-- <li><span>Country:</span>USA</li>
            <li><span>Web:</span><a href="#">www.rebeca.com</a></li> -->
            <!-- <li class="social-share">
              <span>Social:</span>
              <div class="social-icon">
                <a href="#"><i class="icofont-facebook"></i></a>
                <a href="#"><i class="icofont-twitter"></i></a>
                <a href="#"><i class="icofont-dribbble"></i></a>
                <a href="#"><i class="icofont-whatsapp"></i></a>
                <a href="#"><i class="icofont-instagram"></i></a>
              </div>
            </li> -->
          </ul>
        </div>
      </div>
      <!-- <div class="widget widget-banner">
        <h3 class="item-title">Most Popular</h3>
        <div class="item-subtitle">Circle Application</div>
        <a href="#" class="item-btn">
          <span class="btn-text">Register Now</span>
          <span class="btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px"
              height="10px">
              <path fill-rule="evenodd"
                d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
            </svg>
          </span>
        </a>
        <div class="item-img">
          <img src="media/figure/widget_banner_1.png" alt="banner">
        </div>
      </div> -->
    </div>
  </div>
</div>
