<a onclick="scrollToTop()" data-type="section-switch" class="scrollup">
  <i class="icofont-bubble-up"></i>
</a>

<!-- Preloader Start Here -->
<div id="preloader"></div>
<!-- Preloader End Here -->

<app-header></app-header>

<div *ngFor="let item of notifications$ | async"></div>
<div
  *ngIf="!isNavHome()"
  style="background-color: #f8f8f8; min-height: 100vh"
  class="mb-5 px-0 px-lg-5"
>
  <div class="page-content">
    <router-outlet> </router-outlet>
  </div>
</div>

<div *ngIf="isNavHome()">
  <router-outlet> </router-outlet>
</div>
<app-footer></app-footer>
