.item-img {
    position: relative;
}

.item-img .uploadimage {
    position: absolute;
    z-index: 100;
    width: 115px;
    height: 115px;
    right: 0;
    top: 0;
    display: none;
}

.item-img:hover .profileimage {
    opacity: 0.5;
}

.item-img:hover .uploadimage {
    display: block;
}
.btn {
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 100;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}