/* You can add global styles to this file, and also import other style files */

.btn-volver {
    font-size: 14px !important;
    font-weight: 700 !important;
    padding: 13px 50px !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #615dfa !important;
    border-color: #615dfa !important;
}
 