.item-img {
  position: relative;
}
.item-img .uploadimage {
  position: absolute;
  z-index: 100;
  width: 115px;
  height: 115px;
  right: 0;
  top: 0;
  display: none;
}
.item-img:hover .profileimage {
  opacity: 0.5;
}
.item-img:hover .uploadimage {
  display: block;
}

