.item-img {
    position: relative;
}

.item-img .uploadimage {
    position: absolute;
    z-index: 100;
    width: 115px;
    height: 115px;
    right: 0;
    top: 0;
    display: none;
}

.item-img:hover .profileimage {
    opacity: 0.5;
}

.item-img:hover .uploadimage {
    display: block;
}

.iti {
    width: 100% !important;
}

#contenedorTextarea {
    position: relative;
    width: 100%;
}

#contenedorTextarea .textarea {
    position: absolute;
    resize: none;
}

#contenedorTextarea .contador {
    position: absolute;
    right: 0;
    padding: 6px 12px;
    font-size: 12px;
    color: #999;
    z-index: 11;
}
