<div class="container">
  <!-- Banner Area Start -->
  <div class="banner-user" style="background-image: '../../media/figure/shape_12.jpg'">
    <div class="banner-content">
      <div class="media">
        <div class="item-img">
          <img [src]="currentUser.user.avatar" width="120" alt="User">
        </div>
        <div class="media-body">
          <h3 class="item-title">{{currentUser.user.nombre}}</h3>
          <div class="item-subtitle">{{currentUser.user.areaExperiencia}}</div>
          <ul class="item-social">
            <li><a href="#" class="bg-fb"><i class="icofont-facebook"></i></a></li>
            <li><a href="#" class="bg-twitter"><i class="icofont-twitter"></i></a></li>
            <li><a href="#" class="bg-dribble"><i class="icofont-dribbble"></i></a></li>
            <li><a href="#" class="bg-youtube"><i class="icofont-brand-youtube"></i></a></li>
            <li><a href="#" class="bg-behance"><i class="icofont-behance"></i></a></li>
          </ul>
          <ul class="user-meta">
            <li>Posts: <span>30</span></li>
            <li>Comments: <span>12</span></li>
            <li>Views: <span>1.2k</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Información básica</h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
            <div class="dropdown-menu dropdown-menu-right">

              <a class="dropdown-item" href="#">Editar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </div>
        </div>
        <ul class="user-info">
          <!-- <li>
            <label>E-mail:</label>
            <p>{{currentUser.user.email}}</p>
          </li> -->
          <li>
            <label>Nombre:</label>
            <p>{{currentUser.user.nombre}}</p>
          </li>
          <li>
            <label>Phone:</label>
            <p>{{currentUser.user.telefono}}</p>
          </li>
          <li>
            <label>Ubicación:</label>
            <p>{{currentUser.user.ciudad}}, {{currentUser.user.condado}}</p>
          </li>
          <li>
            <label>Lenguajes:</label>
            <p>{{currentUser.user.lenguajes}}</p>
          </li>
          <li>
            <label>Fecha de nacimiento:</label>
            <p>{{currentUser.user.fechaNacimiento | date}}</p>
          </li>
          <li>
            <label>Genero:</label>
            <p>{{currentUser.user.genero}}</p>
          </li>
          <li>
            <label>Biografía:</label>
            <p>{{currentUser.user.biografia}}</p>
          </li>
          <!-- <li>
            <label>Website:</label>
            <p><a href="#">www.rebeca.com</a></p>
          </li>
          <li class="social-share"><label>Social:</label>

            <p class="social-icon">
              <a href="#"><i class="icofont-facebook ms-3"></i></a>
              <a href="#"><i class="icofont-twitter ms-3"></i></a>
              <a href="#"><i class="icofont-dribbble ms-3"></i></a>
              <a href="#"><i class="icofont-whatsapp ms-3"></i></a>
              <a href="#"><i class="icofont-instagram ms-3"></i></a>
            </p>
          </li> -->
        </ul>
      </div>
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Intereses y tipo de conexión</h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="#">Editar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </div>
        </div>
        <ul class="user-info">
          <li>
            <label>Intereses:</label>
            <p>{{currentUser.user.temasInteres}}</p>
          </li>
          <li>
            <label>Tipo de conexion:</label>
            <p>{{currentUser.user.tipoConexion}}</p>
          </li>
        </ul>
      </div>
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title">Educación y empleo</h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
            <div class="dropdown-menu dropdown-menu-right">

              <a class="dropdown-item" href="#">Editar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </div>
        </div>
        <ul class="user-info">
          <li>
            <label>Education:</label>
            <p>The New College of Design</p>
          </li>
          <li>
            <label>Institution:</label>
            <p>Radiustheme.com</p>
          </li>
          <li>
            <label>Employment:</label>
            <p>UI/UX Designer</p>
          </li>
          <li>
            <label>Year:</label>
            <p>2008-2020</p>
          </li>
        </ul>
      </div>
      <div class="block-box user-about">
        <div class="widget-heading">
          <h3 class="widget-title text-danger">Zona roja</h3>
          <div class="dropdown">
            <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">...</button>
            <div class="dropdown-menu dropdown-menu-right">

              <a class="dropdown-item" href="#">Editar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </div>
        </div>
        <ul class="user-info">
          <li>
            <label class="text-danger">E-mail</label>
            <p>{{currentUser.user.email}}</p>
          </li>
          <li>
            <label class="text-danger">Password:</label>
            <p>Cambiar contraseña</p>
          </li>

        </ul>
      </div>

    </div>
    <div class="col-lg-4 widget-block widget-user-about widget-break-lg">
      <div class="widget widget-user-about">
        <div class="widget-heading">
          <h3 class="widget-title">About Me</h3>
          <div class="dropdown">
            <!-- <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
              ...
            </button> -->
            <div class="dropdown-menu dropdown-menu-right">

              <a class="dropdown-item" href="#">Editar</a>
              <a class="dropdown-item" href="#">Eliminar</a>
            </div>
          </div>
        </div>
        <div class="user-info">
          <p>{{currentUser.user.biografia}}</p>
          <ul class="info-list">
            <li><span>Se unió:</span>{{currentUser.user.fechaIngreso | date}}</li>
            <li><span>E-mail:</span>{{currentUser.user.email}}</li>
            <li><span>Ubicación:</span>{{currentUser.user.ciudad}}, {{currentUser.user.condado}}</li>
            <li><span>Teléfono:</span>{{currentUser.user.telefono}}</li>
            <!-- <li><span>Country:</span>USA</li>
            <li><span>Web:</span><a href="#">www.rebeca.com</a></li> -->
            <li class="social-share"><span>Social:</span>
              <div class="social-icon">
                <a href="#"><i class="icofont-facebook"></i></a>
                <a href="#"><i class="icofont-twitter"></i></a>
                <a href="#"><i class="icofont-dribbble"></i></a>
                <a href="#"><i class="icofont-whatsapp"></i></a>
                <a href="#"><i class="icofont-instagram"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!-- <div class="widget widget-banner">
        <h3 class="item-title">Most Popular</h3>
        <div class="item-subtitle">Circle Application</div>
        <a href="#" class="item-btn">
          <span class="btn-text">Register Now</span>
          <span class="btn-icon">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21px"
              height="10px">
              <path fill-rule="evenodd"
                d="M16.671,9.998 L12.997,9.998 L16.462,6.000 L5.000,6.000 L5.000,4.000 L16.462,4.000 L12.997,0.002 L16.671,0.002 L21.003,5.000 L16.671,9.998 ZM17.000,5.379 L17.328,5.000 L17.000,4.621 L17.000,5.379 ZM-0.000,4.000 L3.000,4.000 L3.000,6.000 L-0.000,6.000 L-0.000,4.000 Z" />
            </svg>
          </span>
        </a>
        <div class="item-img">
          <img src="media/figure/widget_banner_1.png" alt="banner">
        </div>
      </div> -->
    </div>
  </div>
</div>